.main-content{
    margin: auto;
    width: 80%;
    background-color: white;
    margin-top: 10px;
    display: flex;
    box-shadow: 0px 2px 4px rgba(65, 65, 65, 0.3);
}

.image-box{
    width: 40%;
    padding: 20px;
    border-radius: 30px;
}

.image{
    display: flex;
    justify-content: center;
}

.book-image{
    height: auto;
    max-width: 60%;
}

.beschreibung-button{
    background-color: white;
    border: none;
    font-weight: bold;
    width: 150px;
}

.text-box{
    display: flex;
    justify-content: center;
    width: 60%;
    border: 1px solid gray;
}

.beschreibungs-box-unten{
    margin: auto;
    width: 80%;
    height: 500px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(65, 65, 65, 0.3);
}