.main-content{
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  padding: -5px;
}


.durchsuchen{
  font-size: 40px;
  margin: 1%;
  margin-top: 0;
  margin-bottom: 5px;
  text-shadow: 0px 2px 5px rgb(184, 184, 184);
}

section{
  float: right;
  margin: 0 1%;
  margin-top: 9px;
  width: 71%;
  box-shadow: 0px 2px 4px rgba(65, 65, 65, 0.3);
}

aside {
  float: left;
  margin: 0 1%;
  margin-top: 9px;
  width: 25%;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(65, 65, 65, 0.3);
}

ul{
  list-style: none;
}

li{
  margin-bottom: 10px;
}


.menu-label{
  margin-top: 5px;
  font-weight: bold;
  padding-left: 15px;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 0;
}

.label-link{
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.menu-item{
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: 20px;
}

.menu-item:hover{
  font-weight: bold;
  color: rgb(0, 81, 255);
}


.auswahl-kontent{
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.bookbox{
  margin: 5px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(65, 65, 65, 0.3);
  width: 220px;
  height: 400px;
  padding: 0;
  
}

.title{
  text-align: center;
}

.price{
  margin-left: 5px;
  float: left;
}

.shopping-cart{
  margin-bottom: -8px;
  margin-right: 8px;
  padding-bottom: -50px;
}

.mini-warenkorb{
  height: 30px;
  width: 30px;
  float: right;
}

.cover img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

h5{
  color: rgb(34, 34, 34);
  margin-top: 5px;
}

.shoppingcart-button{
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  height: 0;
  width: 20px;
}

.detail-link:link { 
  text-decoration: none; 
} 
.detail-link:visited { 
  text-decoration: none; 
} 
.detail-link:hover { 
  text-decoration: none; 
} 
.detail-link:active { 
  text-decoration: none; 
}


